body {
    background-image: url("/images/background.jpeg");
    background-size: cover; }
    /*font-family: sans-serif;
    height: 100vh;
    display: block; 
    color: rgb(187, 215, 226);
    margin-top: 0;
    margin-left: 0;
    height: 900px;
    align-items: center;
    text-align: center; 
    width: 60%;
}
.container {
    justify-content: center;
    text-align: center ;
    align-items: baseline;
    margin-top: 40px;
}

.appointment-form {
    max-width: 900px;
    margin: 0 auto;
}


.navbar-top {
    position: static;
    top:auto;
    display:inline-block;
    width: 180%;
    height: 60px;
    background-color: rgba(51, 178, 223, 0.404);
    backdrop-filter: blur(10px);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.navbar-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: rgb(234, 230, 230);
    padding: 5px 0; 
    text-align: center;
    backdrop-filter: blur(10px);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.navbar-content {
    text-align: left;
    margin-inline: 50px;
    color: white;
}

.content {
    width: 100%;
    margin-top: 105px; 
    padding-bottom: 100px;
    text-align:center;
    background-color: rgba(255, 255, 255, 0.096);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    flex: 1;
}
.directory {
    margin: 20px;
    margin-top: 70px;
    padding: 10px;
    text-align: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.096);

    border-radius: 10px;
    backdrop-filter: blur(10px);
 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    flex: 1;
}


nav ul, li  {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

 Hide the language options by default
#languageOptions {
    display: none;
} 

/* Style for the dropdown container 
.dropdown {
    /*position: relative;
    display: inline-block;
}

option{
    padding: 10px;
    margin: 15px;
}
select, input {
    background-color: rgb(215, 212, 212);
    color: black;
    padding: 10px;
    margin: 15px;
    border-radius: 10px;
    cursor: pointer;
    width: 400px;
    /* Adjust the width as needed *
    align-items: center;
    justify-items: center;
    border: 2px rgb(95, 90, 90) double;
}
label {
    text-align: left;
}
textarea{
    background-color: rgb(215, 212, 212);
    color: black;
    padding: 10px;
    margin: 15px;
    border-radius: 10px;
    cursor: pointer;
    width: 400px;
    /* Adjust the width as needed 
    align-items: center;
    justify-items: center;
    border: 2px rgb(95, 90, 90) double;
}

.result {
    padding: 40px;
}

/* Style for the dropdown content 
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 400px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Style for dropdown content items 
.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: #333;
}

/* Change color of dropdown content items on hover *
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown content when the input is focused *
.dropdown-input:focus+.dropdown-content {
    display: block;
}


.radios {
    margin: 0%;
}

.section {
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: auto;
    /* background-color: #f5f5f5;  *
    padding: 20px;
    margin-top: 60px auto;
    /* Adjust the margin-top value to match the header's height *
}


button {
    background-color: rgb(9, 9, 244);
    width: 50%;
    color: #f1f1f1;
    text-align: center;
    border-radius: 20px;
    padding: 10px;
    margin: 15px;
    border: 1px white solid;
    cursor: pointer;
    width: 350px;
    /* Adjust the width as needed *
    align-items: center;
    justify-items: center;
}
@media (min-width : 960px) {
    .doctors {
        display: flex;
    }
}

/* styles.css *
.notifications-tab {
    position: relative;
    color: whitesmoke;
}

#open-notifications {
    /* background-color: blue; *
    color: whitesmoke;
    border: none;
    /* padding: 10px 20px; *
    cursor: pointer;
}

.notifications-content {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    width: 500px;
    text-align: center;
    background-color: rgb(132, 209, 250);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 9999; 
    border-radius: 10px;
}

.menu {
    position: absolute;
    top: 100%; /* Adjust the top position as needed *
    right: 0;
    width: 500px;
    background-color: rgb(132, 209, 250);
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    z-index: 10;
}
.menu-bar {
    color: whitesmoke;
}

.menu ol li {
    padding: 10px;
    text-align: center;
}

.menu ol li a {
    text-decoration: none;
    color: white;
    display: list-item;
}

.success-message {
    color: green;
    font-weight: bold;
}

.error-message {
    color: red;
    font-weight: bold;
}


.posts {
    background-color: rgba(255, 228, 196, 0.513);
    color: #02004b;
    border: #a6a4a4 solid 1px;
    border-radius: 5px;
}
/* .menu a:hover {
    /* Change the menu color to darker green when hovering over a link*
    background-color: lightseagreen;
} */ 
